@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary: #4e8938;
  --primary-bland: #80cc2b;
  --primary-dark: #355555;
  --white: #fff;
  --black: #000;
  --grey:  #7b7a7a;
  --grey-bland: #e6e6e6;

  //Text
  --text-grey: #7b7a7a;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1200px;

  --siderbar-width: 250px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}

input , button {
  outline: none;
}
