.wrapper {
    display: flex;
    margin-top: var(--default-layout-header-height);
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
}

.content {
    flex: 1;
}