.wrapper {
    display: flex;
    margin-top: calc(var(--default-layout-header-height) * 2);
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-grey);
}

.container {
    margin-top: 20px;
    width: var(--default-layout-width);
    display: flex;
}

.content {
    flex: 1;
}