.wrapper {
  padding: 0 10px;
}

.page-title {
  font-weight: 400;
  color: var(--grey);
}
.slider-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-list {
  width: 100%;
}

.card-item {
  width: 100%;
  padding: 10px 15px;
  border-top: 1px solid var(--grey-bland);
  width: 100%;
  height: 60px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:hover .card-link {
    color: var(--primary) !important;
  }
}

.card-title {
  color: var(--text-grey);
  padding: 10px 15px;
}

.card-link {
  line-height: 2rem;
  text-decoration: none;
  color: var(--primary-hot);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.content-link {
  text-decoration: none;
}
.content-button {
  border: none;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
  }
}

.content-icon {
    margin-right: 5px;
}
