.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  height: var("--default-layout-header-height");
  justify-content: center;
  box-shadow: 0 1px 2px rgba(20, 30, 40, 0.3);
}

.inner {
  display: flex;
  width: var(--default-layout-width);
  align-items: center;
}

.logo {
  height: var(--default-layout-header-height);
  user-select: none;
}

// Navbar
.navbar-list {
  display: flex;
  flex: 1;
  margin-left: 20px;
}

.navbar-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: var(--default-layout-header-height);
  text-decoration: none;
  color: var(--text-grey);
  user-select: none;
  &:hover {
    border-bottom: 2px solid var(--primary);
  }
}
