.wrapper {
    width: 100%;
    height: var('--default-layout-header-height');
    display: flex;
    background-color: #ccc;
}

.logo {
    height: var(--default-layout-header-height);
}

.category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-item {
    padding: 10px;
}
