.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--white);
  width: 100%;
  box-shadow: 0 1px 2px rgba(20, 30, 40, 0.3);
}

.header-height-1 {
  height: var(--default-layout-header-height);
}

.header-height-2 {
  height: calc(var(--default-layout-header-height) * 2);
}

.header-top {
  display: flex;
  width: var(--default-layout-width);
  margin-left: auto;
  margin-right: auto;
}

.header-bottom {
  display: flex;
  justify-content: center;
  width: var(--default-layout-width);
  margin-left: auto;
  margin-right: auto;
}

.inner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: var(--default-layout-header-height);
  user-select: none;
}
