.search,
.search-result {
  width: 341px;
}

.search {
  --search-width: 50px;
 
  display: flex;
  position: relative;
  height: calc(var(--default-layout-header-height) - 20px);
  border: 1px solid var(--grey-bland);
  border-radius: 20px;
  margin-right: 20px;
  input {
    font-size: 1.6rem;
    border: none;
    flex: 1;
    background-color: var(--grey-bland);
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 30px;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--primary-dark);
  }

  &:focus-within {
    border-color: var(--primary);
  }
}

.search-title {
  padding: 0 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-grey);

  &::after {
    display: block;
    content: "";
    background-color: var(--grey-bland);
    height: 1px;
    margin: 0 -10px;
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--search-width);
  font-size: 2rem;
  color: var(--white);
  background-color: var(--primary-bland);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: var(--primary);
  }

  &:active {
    background-color: rgba(78, 137, 56, 0.5);
  }
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-width) + 10px);
  top: 0;
  font-size: 1.6rem;
  color: rgba(20, 30, 40, 0.5);
  transform: translateY(50%);
}

.clear {
  border: none;
  background-color: var(--grey-bland);
  
  &:hover {
    cursor: pointer;
  }
}

.loading {
  width: 1.8rem;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(50%) rotate(0);
  }
  to {
    transform: translateY(50%) rotate(360deg);
  }
}
